.board{
  background: #fff;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
.board__nav{
  width: 100%;
  margin-bottom: 10px;
}
.board__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}
.board__nav-list-item {
  margin: 0;
  padding: 0;
}
.board__nav-btn {
  padding: 5px 10px;
  background: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0;
}

.board__date-row {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
.board__date-first-item {
  width: 100px;
}
.board__date-list {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  margin: 0;
  padding: 0;
  flex-grow: 1;
}
.date__card-item {
  margin: 0;
  padding: 5px 0;
  border: 1px solid #dddddd;
  text-align: center;
}

.board__tasks-wrapper {
  width: 100%;
}
.board__tasks-rows {
  margin: 0;
  padding: 0;
}
.board__tasks-row-item {
  display: flex;
  margin: 0;
  padding: 0;
}
.board__tasks-row-header {
  width: 100px;
  padding: 10px 0;
  background: #5cb85c;
  color: #fff;
  border: 1px solid #dddddd;
  text-align: center;
  flex-shrink: 0;
}
.board__tasks-cards-list {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
.board__tasks-card-item {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
}