.board{
  width: 1000px;
  background: #fff;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  outline: 1px solid #dddddd;
}

.board__nav{
  width: 100%;
  margin-bottom: 10px;
}

.board__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.board__nav-list-item {
  margin: 0;
  padding: 0;
}

.board__nav-btn {
  padding: 5px 10px;
  background: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0;
  transition: 0.3s;
}

.board__nav-btn:hover{
  cursor: pointer;
  background: #329832;
}

.board__date-row {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.board__date-first-item {
  width: 100px;
}

.board__date-list {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.date__card-item {
  margin: 0;
  padding: 5px 0;
  border: 1px solid #dddddd;
  text-align: center;
  list-style: none;
  font-size: 16px;
}

.date__card-item_active{
  background: #eeeeee;
}

.board__tasks-wrapper {
  width: 100%;
}

.board__tasks-rows {
  margin: 0;
  padding: 0;
}

.board__tasks-row-item {
  min-height: 130px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.board__tasks-row-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  padding: 10px 5px;
  background: #5cb85c;
  color: #fff;
  border: 1px solid #dddddd;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.board__tasks-cards-list {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.board__tasks-user-list {
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  margin: 0;
  padding: 0;
  border: 1px solid #dddddd;
  flex-grow: 1;
  text-align: center;
  list-style: none;
}

.board__tasks-user-list_active {
  background: #eeeeee;
}

.board__tasks-card-item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.board__tasks-user-list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 0;
  padding: 5px;
  flex-grow: 1;
  background: #5cb85c;
  border-bottom: 1px solid #dddddd;
  transition: 0.3s;
}

.board__tasks-user-list-item:last-child {
  border-bottom: none;
}

.board__tasks-user-list-item:hover {
  cursor: pointer;
  background: #329832;
}

.board__tasks-user-list-item_varning {
  background: #d9534f;
}
.board__tasks-user-list-item_varning:hover {
  background: #b03f3c;
}

.board__tasks-user-list-item-header{
  font-size: 14px; 
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-wrap: anywhere;
}

.board__task-submenu{
  width: 200px;
  position: absolute;
  top: 20%;
  left: 90%;
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0;
  padding: 0;
  z-index: 15;

  display: fles;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.board__tasks-user-list-item:hover .board__task-submenu{
  opacity: 1;
  visibility: visible;
}

.board__task-submenu-item {
  margin: 0;
  padding: 5px;
  list-style: none;
  font-size: 12px; 
  text-align: left;
  overflow-wrap: anywhere;
}

.board__card-dragged_dragenter{
  background: #329832;
}

@media (max-width:1919px){
  .board__tasks-row-item {
    min-height: 100px;
  }
  .board__tasks-user-list-item-header{
    font-size: 12px;
  }
  .board__task-submenu{
    width: 170px;
  }
  .board__task-submenu-item {
    font-size: 11px;
  }
}
@media (max-width:1340px){
  .board__date-list{
    grid-template-columns: repeat(7, 1fr);
  }
  .board__tasks-cards-list {
    grid-template-columns: repeat(7, 1fr);  }

}
@media (max-width:1024px){
  .board{
    width: 100%;
    flex: 0 0 100%;
  }
  .board__task-submenu{
    width: 100%;
    top: 90%;
    left: -20%;
  }
}
@media (max-width:767px){
  .board__date-first-item {
    width: 60px;
  }
  .date__card-item {
    font-size: 12px;
  }
  .board__tasks-row-header{
    font-size: 12px;
    width: 60px;
  }
  .board__task-submenu{
    width: 160%;
    left: -110%;
  }
}
@media (max-width:424px){
  .board__date-first-item {
    width: 50px;
  }
  .date__card-item {
    font-size: 10px;
  }
  .board__tasks-row-header{
    font-size: 12px;
    width: 50px;
  }
  .board__task-submenu{
    width: 190%;
    left: -100%;
  }
}